
#main-content {
	background: none;
}

ul {
  list-style: circle; /* set default bullets */
}

/*hide simplebar*/
.simplebar-track {    
	display: none !important;
	margin: 0;
}

[data-simplebar-direction] .simplebar-scroll-content {
	overflow-x: hidden;
	/*overflow-y: hidden; *//*ONLI FOR IE9*/
    /*overflow-y: visible;*/  /*NOT FOR IE7*/
	position: relative;
	left: 22px;
}


/*ONLY FOR IE9*/
@media all and (min-width:0\0) and (min-resolution:0.001dpcm) {
  
     /* IE9 */
    .simplebar-track {    
	display: none !important;
	margin: 0;
}

[data-simplebar-direction] .simplebar-scroll-content {
	overflow-x: hidden;
	overflow-y: auto; /*ONLI FOR IE9*/
	position: relative;
	left: 20px;
}
